@media print {
  .printSection {
    margin-bottom: 18px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .commentsBox {
    width: 100%;
    border: 1px solid #000;
  }

  .commentsBoxLabelRow {
    height: 24px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-bottom: 1px solid #000;
    background: #ffffff;
    font-weight: 700;
    font-size: 12px;
    color: #111827;
  }

  .commentsBoxArea {
    background: #eef3ff;
    padding: 10px;
  }

  .commentsTextarea {
    width: 100%;
    min-height: 132px;
    border: 0;
    outline: none;
    resize: vertical;
    background: transparent;
    font-size: 12px;
    line-height: 1.2;
    color: #111827;
  }

  .commentsTextarea:disabled {
    opacity: 0.8;
  }
}


